<div class="home-banner">
  <h1 id="home-title">Save any kind of movies</h1>
</div>

<div class="container">
    <%= link_to "Créer une nouvelle liste",  new_list_path, class: "btn btn-primary my-2" %>

  <div class="row">
    <% @lists.each do |list|%>

        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
             <h2 class="card-title"><%= list.name %></h2>
              <%= link_to "See more", list_path(list), class: "card-link link-see-more" %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
